modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
VITE_POSTHOG_KEY = "phc_K4uS18HeEdIVTkWFiGgaURoaWYbHirm1M4LJw64Lj06"
VITE_SANITY_API_TOKEN = "skB8c1xXlMGVZb3fdtrA3t8O8VnXqpHT43LMKpmK3fG10CEOdiqxzcAJ3FbZLyOfxQn7jAS2hpOTFSqy1XLqFPUqNU6PQyrRD3iwthwgwrRKLzi1oSFwqaGFSjHT86aMXIv9SpYizDuefUf2Go01jaJXAPJ0wyKoHEKGu5kVxNtN8qowbyDO"
VITE_SANITY_PROJECT_ID = "z0ibsj2d"
VITE_SANITY_DATASET = "production"
